<h1>Listing gyms</h1>

<table class="table table-condensend table-flipped">
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gyms.each do |gym| %>
  <tr>
    <td><%= gym.name %></td>
    <td><%= gym.website %></td>
    <td><%= link_to 'Show', gym , class: 'btn btn-mini btn-primary'%></td>
    <td><%= link_to 'Edit', edit_gym_path(gym) ,class: 'btn btn-mini'%></td>
    <td><%= link_to 'Destroy', gym, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gym', new_gym_path , class: 'btn btn-mini btn-info'%>
